.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.useravatar {
  background-color: #d42cf4;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}



.editor-container .ck-editor__editable {
  max-height: 500px;
  overflow-y: auto;
}
.input-container {
  position: relative;
  display:block;
}

.input-container .form-control {
  padding-right: 40px;
}

.input-container .vertical-line {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 60%; 
  background-color: #c7c7c7;
}

.input-container .icon-link {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:#c7c7c7;; 
  text-decoration: none;
}

.input-container .icon-link i {
  font-size: 1.2em;
}

.proseditor-container .ck-editor__editable {
  max-height: 240px;
  overflow-y: auto;
}
@media (max-width: 320px) {
  .proseditor-container .ck-editor__editable {
    max-height: 150px;
    overflow-y: auto;
  }
 
  .editor-container .ck-editor__editable {
    max-height: 100px;
    overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f5f5f5, #ddd);
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #31b3a1, #31b3a1);

  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #31b3a1, #31b3a1);
}
.apexcharts-legend-group-vertical{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  margin-left: 0px !important;
}

.apx-legend-position-bottom{
  margin-top: 15px !important;
}

.togglebutton-design{
  background-color: #f58164!important;
  color: white !important;
  border-radius: 5px !important;
  padding: 8px 10px !important;
  font-size: 14px !important;

  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap:12px !important;
}

.togglebutton-design-off{
  background-color: #1ac21a !important;
  color: white !important;
  border-radius: 5px !important;
  padding: 8px 10px !important;
  font-size: 14px !important;
  border: none !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap:12px !important;
}

.toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}


.custom-datepicker {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 14px;
  width: 240px;
  max-width: 240px;
  /* min-width: 100%; */
  height: 40px;
  border-radius: 6px;
}

.react-datepicker-wrapper {
  width: 250px !important ;
}
.react-datepicker__input-container{
  width: 250px !important ;
  max-width: 250px !important ;
  display: flex;

}
.react-datepicker__current-month{
  color:#000 !important;
}
.react-datepicker__day--in-range,.react-datepicker__day--selected{
  background-color: #0ab39c !important;
}

.rounded-16{
  border-radius: 16px;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
  background-color: #0ab39c !important

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.download-icon-align{
  margin-right: 100px;
}

.select-menu-align{
  min-width: 120px;
}